fastapi/__pycache__
fastapi/*.pyc
fastapi/*.pyo
fastapi/*.pyd
fastapi/.Python
fastapi/env/
fastapi/venv/
fastapi/.env
fastapi/.venv
fastapi/pip-log.txt
fastapi/pip-delete-this-directory.txt
fastapi/.tox/
fastapi/.coverage
fastapi/.coverage.*
fastapi/htmlcov/
fastapi/.pytest_cache/
fastapi/dist/
fastapi/build/
fastapi/*.egg-info/

nextjs/.next/
nextjs/node_modules/
nextjs/.env
nextjs/.env.local
nextjs/.env.development
nextjs/.env.test
nextjs/.env.production
nextjs/npm-debug.log*
nextjs/yarn-debug.log*
nextjs/yarn-error.log*
nextjs/.pnpm-debug.log*
nextjs/build/
nextjs/dist/
nextjs/.vercel
nextjs/.DS_Store
